/*
Description:
	Contains all the styles for the winning wheel page.
	
Verison History:
	2012-01-28
	- Created based off earlier version.
	
	2013-07-14
	- Changed font from arial to verdana so works nicely when example is displayed in site.
	- Added noCanvasMsg style so that the paragraph advising the user that their browser does not support canvas works correctly.
	
*/

body
{
	font-family: verdana, arial, sans-serif;
}

/* Sets the background image for the wheel */
td.the_wheel
{
	background-image: url(./wheel_back.png);
	background-position: center;
	background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
	margin: 0;
}

div.power_controls
{
	margin-right:70px;
}

div.questions_area
{
	background-color: white;
	border:1px solid #333333;
	margin-left:50px;
	margin-right:50px;
	width: 650px; 
    height: 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}

div.pergunta
{
	background-color: white;
	margin-top:20px;
	margin-bottom:50px;
	margin-left:20px;
	margin-right:20px;
	width: 610px; 
    height: 70px;
    border:1px solid #333333;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #888888;
}

div.campo
{
	background-color: white;
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	width: 610px; 
    height: 50px;
    border:1px solid #000000;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #888888;
}

div.inner-border
{
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}

div.next_round
{
	cursor:pointer;
	border:1px solid #333333;
}

div.amostra
{
	width: 96px;
	border:1px solid #000000;
	background-color: #cccccc;
}

/* Styles for the power selection controls */
table.power
{
	background-color: #cccccc;
	cursor: pointer;
	border:1px solid #333333;
}

table.power th
{
	background-color: white;
	cursor: default;
}

td.pw1
{
	background-color: #6fe8f0;
}

td.pw2
{
	background-color: #86ef6f;
}

td.pw3
{
	background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
	cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
	margin-bottom: 5px;
}

p.noCanvasMsg
{
	color: white;
}